.vh100{
   height: 100vh; 
}
.d-block{
    display: block;
}
.flex-grow-1{
    flex-grow: 1;
}
.lh-1_5{
    line-height: 1.5;
}
.pt-12{
    padding-top: 12px;
}
.pt-32{
    padding-top: 32px;
}
.pr-8{
    padding-right: 8px;
}
.pr-32{
    padding-right: 32px;
}
.pr-25{
    padding-right: 25px;
}
.pl-0{
    padding-left: 0;
}
.pl-32{
    padding-left: 32px;
}
.mt-40{
    margin-top: 40px;
}
.mr-16{
    margin-right: 16px;
}
.bold{
    font-weight: bold;
}
.no-border{
    border: none !important;
}
.no-bolder-bottom{
    border-bottom: none !important;
}
.bg-white{
    background-color: white;
}
.bg-gray{
    background-color: $color-bg-gray;
}
.green{
    color: $color-word-green;
}