$ex-color: #00cc99;
$color-bg-white:#FFFFFF;
$color-bg-gray:#F8F9FA;
$color-border-gray:#CED4DA;
$color-cardBg-white:#F8F9FA;
$color-word-black:#212529;
$color-word-gray:#6C757D;
$color-word-green:#198754;