*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.body {
  line-height: 1.5 !important;
  font-family: 'Roboto', sans-serif; }

.area {
  padding: 0px 32px 32px 32px; }

.area2 {
  padding: 0px 24px 24px 24px; }

h1, h2, h3, h4, h5, h6, p, ul, li, span, form, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

h1, h2, h3, h4, p {
  color: #212529; }

h1 {
  font-size: 24px;
  font-weight: bold; }

h2 {
  font-size: 16px;
  font-weight: bold; }

h3 {
  font-size: 14px; }

h4 {
  font-size: 12px;
  color: #6C757D; }

p {
  font-size: 14px; }

.img {
  display: block;
  max-width: 100%;
  height: auto; }

.material-icons {
  vertical-align: middle; }

.vh100 {
  height: 100vh; }

.d-block {
  display: block; }

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.lh-1_5 {
  line-height: 1.5; }

.pt-12 {
  padding-top: 12px; }

.pt-32 {
  padding-top: 32px; }

.pr-8 {
  padding-right: 8px; }

.pr-32 {
  padding-right: 32px; }

.pr-25 {
  padding-right: 25px; }

.pl-0 {
  padding-left: 0; }

.pl-32 {
  padding-left: 32px; }

.mt-40 {
  margin-top: 40px; }

.mr-16 {
  margin-right: 16px; }

.bold {
  font-weight: bold; }

.no-border {
  border: none !important; }

.no-bolder-bottom {
  border-bottom: none !important; }

.bg-white {
  background-color: white; }

.bg-gray {
  background-color: #F8F9FA; }

.green {
  color: #198754; }

.ex-header {
  height: 200px;
  background-color: #00cc99; }

.ex-footer {
  height: 200px;
  background-color: #00cc99; }

.ex-box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .ex-box:hover {
    width: 200px;
    background-color: #00cc99; }

.card {
  max-width: 15rem !important; }

.card-header {
  padding: 0 0 29px 32px;
  border: none; }

.left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 92vh; }

.list-group li.list-group-item {
  padding: 11px 0;
  background-color: #F8F9FA; }

.list-group-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212529; }

.list-group-item a h2 {
  vertical-align: middle;
  line-height: 2; }

.list-group-item span.material-icons {
  padding-right: 17px;
  line-height: 1.5; }

.account-img {
  height: 40px;
  width: 40px;
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/week5/andychen.jpeg);
  border-radius: 50%;
  background-size: contain;
  background-position: center center; }

.border-left-green {
  border-left: 7px solid green !important;
  padding-left: 25px; }

.header {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 0; }

.table > :not(caption) > * > * {
  padding: 1rem 0.5rem; }

.footer {
  padding: 47px 0 8px 0; }

.page-link {
  color: #198754;
  border: 1px solid #198754; }

li.page-item a:hover {
  background-color: #198754;
  color: white; }

/*# sourceMappingURL=all.css.map */
